:root {
    --orange: #FF9A08;
    --blur:#181991;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    line-height: 150px;
    text-shadow: 1px -5px 9px rgba(0, 0, 0, 0.25);
}
.grid{
    background-color: var(--orange);
    width: 90%;
    max-width: 1000px;
    border: 10px solid var(--orange);
    margin: auto;
    margin-top: 100px;
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 25px;
}
.grid div{
    background-color:var(--blur);
    padding: 20px;
    display: block;
    color: #fff;
    text-align: center;
    box-shadow: 1px -5px 9px rgba(0, 0, 0, 0.25);
}