.grid{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,200px);
    grid-gap: 20px;
    height: 800px;

    justify-content: space-evenly; /*mismo tamaño*/
    align-content: space-evenly;
}