.grid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,200px);

    /*Eje horizontal*/
    justify-items: center;
    /*Eje vertical*/
    align-items: center;
}
/*Especifico*/
.grid .waza{
    background-color: aqua;
    justify-self: center;
    align-self: end;
    
}